<app-breadcrumb
  [title]="'Privacy Policy'"
  [items]="['Dashboard']"
  [active_item]="'Privacy Policy'"
  icon="git-pull-request"
></app-breadcrumb>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <form [formGroup]="refundForm" class="form">
        <ckeditor   [editor]="Editor" formControlName="description"></ckeditor>
        <div
          *ngIf="
            refundForm.controls.description.invalid &&
            (refundForm.controls.description.dirty ||
              refundForm.controls.description.touched)
          "
        >
          <small class="text-danger">Content is required</small>
        </div>
      </form>
    </div>
    <div class="col-sm-3 mt-3 ml-auto">
      <button
        class="btn btn-primary btn-block"
        [disabled]="!refundForm.valid"
        (click)="save()"
        type="button"
      >
        <span>Save</span>
      </button>
    </div>
  </div>
</div>