<!-- my-account.component.html -->
<div class="media profile-media">
  <img class="b-r-10 rounded-circle" src="assets/images/User.jpg" alt=""
    style="width: 35px; height: 35px; object-fit: cover;">
  <div class="media-body">
    <p class="mb-0 font-roboto">{{ displayRole }}</p>
  </div>
</div>
<!-- <ul class="profile-dropdown onhover-show-div">
  <li>
    <a (click)="logoutUser()">
      <app-feather-icons [icon]="'log-in'"></app-feather-icons>
      <span>Log out</span>
    </a>
  </li>
</ul> -->