<app-breadcrumb [title]="'Admin Quiz'" [items]="['Dashboard']" [active_item]="'Admin Quiz'" icon="list"></app-breadcrumb>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 btnPadding">
      <div class="card card-premium">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h5>Admin Quizzes</h5>
          <button class="btn btn-premium btn-sm" routerLink="/dashboard/quiz/create">
            <i class="fa fa-plus"></i> Add Quiz
          </button>
        </div>

        <div class="card-body">
          <div class="row mb-4">
            <div class="col-sm-6 d-flex justify-content-start align-items-center mb-4">
              <div class="search-premium w-100">
                <i class="fa fa-search"></i>
                <input type="text" [(ngModel)]="searchInput" placeholder="Search quiz..." class="w-100" />
              </div>
            </div>
          </div>

          <div class="table-premium-container table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Questions</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="(quizzes | filter : searchInput)?.length; else noData">
                  <tr *ngFor="let quiz of quizzes | filter : searchInput; let i = index">
                    <th>{{ quiz.id }}</th>
                    <td>{{ quiz.title }}</td>
                    <td>{{ quiz.questions?.length || 0 }}</td>
                    <td>
                      <div class="btn-group">
                        <button class="btn btn-glass btn-sm ms-2" (click)="viewResults(quiz)" title="Results">
                          <i class="fa fa-sitemap text-info"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </ng-container>

                <ng-template #noData>
                  <tr>
                    <td colspan="4" class="text-center text-muted">No matching data available</td>
                  </tr>
                </ng-template>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
